/* =============
    Base
============= */

ul{
    padding: 0;
    margin: 0;
    li{
        list-style: none;
    }
}


.thank-you-top-spacing{
    padding-top: 16px;

    @include lg{
        padding-top: 32px;
    }
}