/* =============
    Product 
============= */


#product{
    @include md{
        display: flex;
        flex-direction: row;
    }

h1{
    text-align: center;
    margin: auto;
    color: var(--forestGreen);
    margin-bottom: 16px;
}

    img{
        padding-top: 40px;
       height: 75vh;
    }

    .w3-button{
        @include md{
            margin: auto;
        }

        margin-left: 48px;
        background-color: var(--baseGreen);
        border: none;
        border-radius: 23px;
        color:white;
        padding: 10px 30px;
    }
 .features{

    @include md{
        margin: auto;
    }
       margin-left: 48px;
        background-color: var(--brightGreen);
        border: none;
        border-radius: 23px;
        color:white;
        padding: 10px 30px;
        margin-bottom: 16px;



 }

}