/* =============
    Product 
============= */


#product{
    img{
       
    }
 button{
        background-color: var(--brightGreen);
        border: none;
        border-radius: 23px;
        color:white;
        padding: 10px 30px;


 }

}