


#reviews{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". reviews .";
    padding-bottom: 32px;
#title{
    h1{
        color: var(--forestGreen);
        margin-left: 16px;
    }
}

    >div{
        margin-top: 40px;
        grid-area: reviews;
       text-align: justify;
       display: grid;
       gap: 16px;

       h1{
        margin-bottom: 16px;
       }

       .card{
        width: 300px;
        height: 400px;
        text-align: center;
    }

       @include md{
        grid-area: reviews;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
        "n1,n1,n2,n2"
        "n3,n3,n4,n4"
        "..n5,n5..";
        align-items: center;
       }

       .card{
        color: var(--forestGreen);
        background-color: var(--brightSage);
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        padding: 16px;
        border-radius: 10px;
     
       }

}
}