/* =============
    Thank You Page 
============= */


#thank-you-hero{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ".thank-you-hero.";

    >div{
        grid-area: thank-you-hero;


        h1{
            color: var(--forestGreen);
            font-family: 'Montserrat', sans-serif;
            font-size: rem-calc(36);
            text-align: center;


            @include lg{
                font-size: rem-calc(56);
            }
        }
    }

    >div{
        grid-area: thank-you-hero;
        p{
            padding-top: 16px;
            color: var(--forestGreen);
            font-size: 16px;
            line-height: 30px;
            text-align: center;
        }
    }
}