/* =============
    Footer
============= */

footer {
    
    padding: 24px 16px;
    background-color: var(--darkTeal);

    >div{
        display: grid;
        grid-template-columns: 30% auto;
        // grid-template-areas: 
        // "logo-footer links-footer"
        // "logo social-media";
        box-sizing: border-box;
        width: 100%;

        #logo-footer{
            // grid-area: logo-footer;
        }


        #links-footer{
            li{
                margin-left: 8px;
            }
            // grid-area: logo-links;
            display: flex;
            font-size: rem-calc(16);
            margin-bottom: 8px;
        }


        #social-media{
           a{
            margin-left: 8px;
           }
            // grid-area: social-media;
        }
    }
}

