/* =============
    Footer
============= */

footer{
    background-color: var(--darkTeal);
    color: white;

    width: 100%;
    display: block;
    position: fixed;
    padding: 8px;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;


    ul {
        float: left;
        list-style-type: none;
        margin: 0;
        padding: 15px; 
        overflow: hidden;
        top: 0;
    }
}