/* =============
    Header
============= */


header{

    li {
        float: left;


        a {
            display: block;
            padding: 8px;
            background-color: #dddddd;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
          }
      }
      
    

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;

    button{
        border: none;
        background-color: var(--darkTeal);
        border-radius: 23px;
        color:white;
        padding: 10px 15px;
    }
  }

    #burger-container{
        grid-area: burger;
        padding: 16px;
    }

    #logo{
        grid-area: burger;
        padding: 16px;
    }

    nav{
    grid-area: burger;
    padding: 16px;
    }
}
