/* =============
    Checkout
============= */

#checkout{
    align-items: center;
   display: flex;
   flex-direction: column;
   grid-template-columns: 16px auto 16px;
   grid-template-areas: ". checkout .";
   padding-bottom: 32px;
   padding-top: 32px;

   @include md{
    margin: 16px;
    align-items: flex-start;
    flex-direction: row;
    padding-left: 16px;
   }
   
   .title{
    display: grid;
    grid-template-columns: 32px auto 32px;
    margin-bottom: 40px;
    color: var(--forestGreen);
}

   h1{
    margin-bottom: 16px;
   }
    
    .box{
        background-color: var(--brightSage);
        margin-bottom: 16px;
        color: var(--forestGreen);
        background-color: var(--brightSage);
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        padding: 32px;
        border-radius: 10px;

        form{
            margin-bottom: 32px;
        }

        @include md{
            margin: 16px;
        }
    }

    #review{
        margin-bottom: 20px;
        color: var(--forestGreen);
        background-color: var(--brightSage);
        color: var(--forestGreen);
        background-color: var(--brightSage);
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        padding: 18px;
        border-radius: 10px;

        p{
            margin-bottom: 32px;
        }

        @include md{
            padding: 16px;
            margin: 16px;
        }
    }

    .submit{
        align-items: center;
        background-color: var(--brightGreen);
        border: none;
        border-radius: 23px;
        color:white;
        padding: 10px 30px;

    }

    #buttons{
        margin-left: 48px;
            background-color: var(--baseGreen);
            border: none;
            border-radius: 23px;
            color:white;
            padding: 10px 30px;
    }
}
